* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

main {
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  color: #fff;
  background-color: #141115;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
}
.inner-nav {
  display: flex;
  width: 80vw;
}

.inner-nav i {
  margin: 7px;
}

.workout-form form {
  background-color: #dddddd57;
  display: flex;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid #dddddd;
  flex-direction: column;
}

.time,
.workout {
  width: 40%;
}

.form-button {
  cursor: pointer;
  margin: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 40%;
  color: #fff;
  background-color: #34973f;
}

.form-button:hover {
  background-color: #256b2d;
}


